
  <h4>Statistic</h4>
  <span class="toolkit-inline-help">Statistic across all screenings.</span>
  <ul class="list-unstyled qnaire-list-item">
    <li class="qnaire-list-item item">
      <span class="label label-primary">Total ACE Score</span> {{aceScoreStatistic.sum}}
    </li>
    <li class="qnaire-list-item item">
      <span class="label label-primary">Average ACE Score</span> {{aceScoreStatistic.average}}
    </li>
  </ul>
