body {
	font-family: Roboto, sans-serif;
}

.toolkit-inline-help {
	color: #c0c0c0;
	font-style: italic;
}

/* Overriding the margins */
/* TODO: This should be handled a little more elegantly */
.page-header {
	margin: 0px;
}

span.label {
	font-size: 1em;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  /* TODO: Figure out how to combine flex-direction with spacing*/
  justify-content: space-around;
  /*flex-direction: row;*/
}

/* Subclassing the Bootstrap Danger Button style */
button.btn-open {
	background-color: white;
	border-color: #d43f3a;
	color: #d43f3a;
}

.flex-item {
  background: white;
  padding: 5px;
  width: 200px;
  height: 8em;
  margin-top: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

@media (min-width: 768px) {
	iframe {
		width: 640px;
		height: 480px;
	}
}

@media (max-width: 500px) {
  .flex-item {
		width: 100%;
	}
}

@media (max-width: 768px) {
 	.jumbotron {
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px;
	}
	iframe {
		width: 320px;
		height: 240px;
	}
}

ul.qnaire-list-item li {
  line-height: 2.5em;
}

ul.qnaire-list-item li span {
  margin-right: 10px;
}

ul.qnaire-list-item li.heading {
  text-align: left;
}

ul.qnaire-list-item li.heading {
  text-align: center;
  background-color: rgb(51, 122, 183);
  color: white;
}

ul.qnaire-list-item li.item {
  font-weight: normal;
  font-size: 0.9em
}

a.navbar-brand img {
  position: relative;
  top: -12px;
  width: 100%;
}

div.panel-heading {
  font-weight: bold;
}

div.panel-footer {
  text-align: right;
}
