<section>
	<div class="container">
		<ul class="flex-container">
			{{#each model as |classic|}}
			<li class="flex-item">
				{{#link-to "classics.classic" classic}}
				{{classic-qnaire-list qnaire=classic}}
				{{/link-to}}
			</li>
			{{/each}}
		</ul>
	</div>
</section>
