<section>
	{{!-- Invoke the component and pass the list of models as a parameter --}}
	<div class="container">
		{{classic-qnaire-statistic model=model}}
	</div>
</section>
<hr/>
<section>
	<div class="container">
		<ul class="flex-container">
			{{#each model as |classic|}}
			<li class="flex-item">
				{{#link-to "classics.view" classic}}
				{{classic-qnaire-list-item qnaire=classic}}
				{{/link-to}}
			</li>
			{{/each}}
		</ul>
	</div>
</section>
