{{!-- The main template for /classic --}}
<section>
	<header>
		<div class="container">
			<div class="page-header">
  				<h2>{{#link-to 'classics'}}ACE Screenings{{/link-to}} {{#link-to 'classics.new'}}<button type="button" class="btn btn-default  btn-sm">New</button>{{/link-to}} <button {{action "clear"}} class="btn btn-danger btn-sm">Clear</button></h2>

					<p><span class="toolkit-inline-help">Click "New" to conduct a new ACE screening. Click "Clear" to clear all screening results</span></p>
			</div>
		</div>
	</header>
</section>
{{outlet}}
<br/>
<br/>
