{{!-- The main template for /classic --}}
<section>
	<header>
		<div class="container">
			<div class="page-header">
  				<h1>ACE Screenings {{#link-to 'classics.new'}}<button type="button" class="btn btn-default navbar-btn">New</button>{{/link-to}} <button type="button" class="btn btn-default navbar-btn"><a >Clear</a></button></h1>
			</div>
			{{!-- Filled-out Classic Questionnaires <span>{{#link-to 'classics.new'}}Fill-Out Questionnaire{{/link-to}}</span> --}}
		</div>
	</header>
</section>
{{!-- {{classic-qnaire-input action="createClassicQnaire"}} --}}
{{outlet}}
