{{!-- The main template for /classic --}}
<section>
	<header>
		Filled-out Classic Questionnaires <span>{{#link-to 'classics.new'}}Fill-Out Questionnaire{{/link-to}}</span>
	</header>
</section>

{{!-- {{classic-qnaire-input action="createClassicQnaire"}} --}}
{{outlet}}
