<div class="container">
	<div class="jumbotron">
		<h1>Welcome to the ACE Toolkit</h1>
		<p>
			The ACE Toolkit is a suite of online tools that help professionals screen for adverse childhood experiences (ACEs) and resiliency levels.
		</p>
		<p>
			<iframe src="https://www.youtube.com/embed/_SCsxsn2X7Y" align="center" frameborder="0" allowfullscreen></iframe>
		</p>
		<br/><br/>
		<p>
			{{link-to 'Get started' 'guide' class="btn btn-primary btn-lg" role="button"}}
		</p>
	</div>
</div>
